</article>

<footer class="footer">
    <div class="divfooter">
        Not really copyrighted by J&#916;CK &copy;
        <br/>
        Created for CS355 @ SSU
    </div></footer>
</div>

</body>

</html>