<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- jQuery JavaScript Library; required by Bootstrap JS Library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!-- Bootstrap CSS and JavaScript Libraries; required by Bootstrap Multiselect -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap Multiselect JavaScript Library and CSS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>

<style>
    div.container {
        width: 100%;
        padding: 0;
    }

    header {
        padding: 1em;
        color: white;
        background-color: darkmagenta;
        clear: left;
        text-align: center;
        color: hotpink;
    }

    footer {
        padding: 1em;
        color: white;
        background-color: darkmagenta;
        clear: left;
        text-align: center;
        color: hotpink;
    }

    nav {
        float: left;
        max-width: 200px;
        margin: 0;
        padding: 1em;
    padding-right: 30px;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
    }

    nav ul a {
        text-decoration: none;
    }

    article {
        margin-left: 170px;
        border-left: 1px solid gray;
        padding: 1em;
        padding-left: 150px;
        overflow: hidden;
    }

    .centerplease {
        text-align: center;
    }


    body {
        background-color: hotpink;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: #f5f5f;
    }
</style>




</head>
<body>
<div class="container">
<header><h1><%= title %></h1></header>
<br />

<nav>
    <!-- NAV BAR GOES HERE -->
    <a href="/">Home Page</a> <br/>
    <a href="/about/about">About Page</a><br/>
    <a href="/orders/createOrder">Orders Page</a><br/>
    <a href="/inventory/all">Shop Inventory</a><br/>
</nav>

<br />
<article id="centerplease">
