<%- include("./includes/header.ejs", {title: title}); %>

    <!-- Centered items-->

    <h3><p>Welcome to my <%= title %></p></h3>


    <div>
        <img class="pictureSize" src="images/kitten.jpeg">
    </div>
    don't mind the kittens...

<style>
    .pictureSize {
        width: 50%;
    }
</style>

<%- include("./includes/footer.ejs"); %>
