<%- include("../includes/header.ejs"); %>

    <h1 class="centerplease">Add a new inventory entry</h1>
    <form action="/inventory/insert" method="get">
        Manufacturer:
        <br />
        <input type="text" name="manufacturer" id="manufacturer">
        <br/>
        <br/>
        Product: <br/>
        <input type="text" name="productname" id="productname">
        <br/>
        <br/>
        Nib Grade: <br/>
            <select name="nibgrade" id="nibgrade">
                <option>EF</option>
                <option>F</option>
                <option>M</option>
                <option>B</option>
                <option>BB</option>
                <option>BBB</option>
                <option>FLX</option>
            </select>
        <br/>
        <br />
        Nib Material: <br/>
            <select name="nibmaterial" id="nibmaterial">
                <option>Steel</option>
                <option>Gold Plated</option>
                <option>Gold</option>
                <option>Titanium</option>
            </select>

        <br/>
        <br />
        Price: <br/>
        <input type="text" name="price" id="price">


        <br/>
        <br />
        <button type="submit">Submit Order</button>
    </form>

<%- include("../includes/footer.ejs"); %>
