<%- include("../includes/header.ejs", {title}); %>
<div class="centerplease">
    <h1>Inventory</h1>
    <a href="/inventory/createProduct"><h3>Click here to add a product</h3></a>

<table border="1">
    <tr><th>Manufacturer</th><th>Name</th><th>Nib Material</th><th>Nib Grade</th><th>Price</th></tr>
    <% for(var i=0; products.length > i; i++ ) { %>
    <tr>
        <td>
            <%= products[i].manufacturer%>
        </td>

        <td>
            <%= products[i].productname%>
        </td>

        <td>
            <%= products[i].nibmaterial%>
        </td>

        <td>
            <%= products[i].nibgrade%>
        </td>

        <td>
            <%= products[i].price%>
        </td>

        <td>
            <form action="/inventory/delete/" style="display:inline;">
                <input type="hidden" name="product_id" id="product_id" value="<%= products[i].product_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
</div>

<style>
    td, td, th {
        padding: 5px;
    }
</style>

<%- include("../includes/footer.ejs"); %>
