div.container {
    width: 100%;
    padding: 0;
}

header {
    padding: 1em;
    color: white;
    background-color: darkmagenta;
    clear: left;
    text-align: center;
    color: hotpink;
}

footer {
    padding: 1em;
    color: white;
    background-color: darkmagenta;
    clear: left;
    text-align: center;
    color: hotpink;
}

nav {
    float: left;
    max-width: 200px;
    margin: 0;
    padding: 1em;
    padding-right: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    padding-left: 150px;
    overflow: hidden;
}

.centerplease {
    text-align: center;
}


body {
    background-color: hotpink;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f;
}