<%- include("../includes/header.ejs", {title}); %>

    <h1 class="centerplease">All Orders:</h1>

<table border="1">
    <tr><th>Product</th><th>Shipping Address</th><th>Customer</th></tr>
    <% for(var i=0; everything.length > i; i++ ) { %>
    <tr>
        <td>
            <%= everything[i].manufacturer%> <%= everything[i].productname %>
        </td>

        <td>
            <%= everything[i].street %>, <%= everything[i].postal_code %>
        </td>

        <td>
            <%= everything[i].last_name%>, <%= everything[i].first_name%>: <%= everything[i].email%>
        </td>

        <td>
            <form action="/orders/delete/" style="display:inline;">
                <input type="hidden" name="order_id" id="order_id" value="<%= everything[i].order_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<%- include("../includes/footer.ejs"); %>
