<%- include("../includes/header.ejs", {title:"Add New Order"}); %>

    <a href="/orders/ViewAll"><h1 class="centerplease">Click here to view all orders</h1></a>

    <h3 class="centerplease">or</h3>
    <h1 class="centerplease">Add a new order here:</h1>
    <form action="/orders/insert" method="get">
        Product:
        <br />
        <select id="product_id" name="product_id">
            <% for(var i=0; product.length > i; i++ ) { %>
                <option value="<%= product[i].product_id %>"><%= product[i].manufacturer + ', ' + product[i].productname %></option>
            <% } %>
        </select>
        <br/>
        <br/>
        Address: <br/>

        <select id="address_id" name="address_id">
            <% for(var i=0; address.length > i; i++ ) { %>
            <option value="<%= address[i].address_id %>"><%= address[i].street + ', ' + address[i].postal_code %></option>
            <% } %>
        </select>
        <br/>
        <br/>
        User: <br/>

        <select id="user_id" name="user_id">
            <% for(var i=0; users.length > i; i++ ) { %>
            <option value="<%= users[i].user_num %>"><%= users[i].last_name + ', ' + users[i].first_name + ': ' + users[i].email %></option>
            <% } %>
        </select>
        <br/>
        <br />
        <button type="submit">Submit Order</button>
    </form>

<%- include("../includes/footer.ejs"); %>
