<%- include("../includes/header.ejs", {title:"About Page"}); %>
    <div>
        The purpose of this website is to illustrate competency in WebApp creation.
        <br/>
        Developer: Jack Newman
        <br/>
        Fake Company: Fake Fountain Pen WebStore
        <br/>
        This site will display information about Fountain Pens and allow users to manipulate the data.
        <br/>
        I am clearly not a designer.
    </div>

    <div>
        <br/>
        <table>
            <tr>
                <th></th>
                <th style="text-align: center">Links to:</th>
                <th></th>
            </tr>
            <tr>
                <!--Todo add relational schema and functional dependency diagrams-->
                <td><a href="/images/ERDiagram.png">ER diagram</a></td>
                <td><a href="/images/functionaldependencies.png">Relational Schema</a></td>
                <td><a href="">Functional Dependency Diagram</a></td>
            </tr>
        </table>
    </div>

<style>
    td {
        padding: 15px;
    }
</style>

<%- include("../includes/footer.ejs"); %>
